@import "tailwindcss";

:root {
  --background: oklch(27% 0.01 247);
  --foreground: oklch(94% 0.01 247);
  --input-background: oklch(18% 0.01 247);
  --primary: oklch(45% 0.17 260);
  --btn-hover: oklch(26% 0.14 265.6);
  --btn-loading: oklch(35% 0.12 260);
  --input-border: oklch(89.47% 0.01 207.2 / 20%);
  --placeholder-foreground: oklch(89.47% 0.01 207.2 / 60%);
  --radius: 5px;
}

@theme inline {
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input-background: var(--input-background);
  --color-primary: var(--primary);
  --color-input-border: var(--input-border);
  --color-placeholder-foreground: var(--placeholder-foreground);
  --color-btn-hover: var(--btn-hover);
  --color-btn-loading: var(--btn-loading);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --text-lg: 19px;
  --text-4xl: 27px;
  --text-5xl: 47px;
  --breakpoint-xs: 480px;

  --shadow-custom: 0 0 4px rgba(105, 105, 105, 0.53);
}
input.dark {
  color-scheme: dark;
}
abbr[title] {
  text-decoration: none;
  cursor: help;
}

input[number]::-webkit-outer-spin-button,
input[number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Sometimes needed to remove spacing */
}

.edit-alert-form {
  outline-width: 1px;
  outline-offset: 0px;
  outline-color: rgba(0, 111, 204, 0);
  outline-style: solid;
  animation: animateOutline 2.5s ease infinite;
}

@keyframes animateOutline {
  0% {
    outline-width: 1px;
    outline-offset: 0px;
    outline-color: rgba(0, 111, 204, 0);
  }
  10% {
    outline-color: rgba(0, 111, 204, 0.75);
  }
  50% {
    outline-width: 7px;
    outline-offset: 2px;
    outline-color: rgba(0, 111, 204, 0);
  }
  100% {
    outline-width: 7px;
    outline-offset: 2px;
    outline-color: rgba(0, 111, 204, 0);
  }
}
