@import "tailwindcss";

:root {
  --background: oklch(27% 0.01 247);
  --foreground: oklch(94% 0.01 247);
  --input-background: oklch(18% 0.01 247);
  --primary: oklch(45% 0.17 260);
  --input-border: oklch(89.47% 0.01 207.2 / 20%);
  --placeholder-foreground: oklch(89.47% 0.01 207.2 / 60%);
  --radius: 5px;
}

@theme inline {
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-input-background: var(--input-background);
  --color-primary: var(--primary);
  --color-input-border: var(--input-border);
  --color-placeholder-foreground: var(--placeholder-foreground);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --text-4xl: 27px;
  --text-5xl: 47px;
  --breakpoint-xs: 480px;
}
input.dark{
  color-scheme: dark;
}
abbr[title]{
  text-decoration: none;
  cursor: help;
}